@page "/Contatti"

<h3>Contatti</h3>

<p>&nbsp;</p>
<p><div class="badge-base LI-profile-badge" data-locale="it_IT" data-size="medium" data-theme="light" data-type="HORIZONTAL" data-vanity="pirolaangelo" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://it.linkedin.com/in/pirolaangelo?trk=profile-badge">Angelo Pirola</a></div></p>

@code {

}