@page "/Contatti"

<h3>Contatti</h3>

<p>&nbsp;</p>
<p><h5>Angelo Pirola</h5></p>
<p><span class="oi oi-envelope-closed"></span> <a href="mailto:angelo9871@gmail.com">Scrivimi</a></p>
<p><span class="oi oi-globe"></span> <a href="https://about.me/AngeloPirola">WebSite</a></p>
<p><span class="oi oi-briefcase"></span> <a href="https://www.linkedin.com/in/pirolaangelo/">Linkedin</a></p>

@code {

}