@page "/"

<h1>Benvenuto!</h1>

Sito Web personale di Angelo Pirola.

<p>&nbsp;</p>
<p>&copy; Angelo Personal WebSite - Versione 1.0 - Tutti i diritti riservati</p>
<p>Powered by Framework Blazor Web Assembly, .NET Core 5.x and database SQLite</p>
